/* Fontawesome  6.2.1 cdn*/
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css");

/* XEICON CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* Web Fonts -Source Sans Pro  - 영문 폰트*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
/* font-family : "Source Sans Pro, sans-serif" */

/* Web Fonts - NooNoo - 한글 폰트 */
@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdeliver.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format ("woff");
  font-weight: normal;
  font-style: normal;
}

/* Reset css */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

button,
input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* Default CSS - 기본서식*/
body {
  font-family: "NEXON Lv2 Gothic", sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  margin: 0;
  background-color: #fff;
  color: #222;
}

/*#################################### Header########################################## */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header-inner {
  width: 1300px;
  margin: auto;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 15px;
}
.lgo {
  float: left;
}
.lgo img {
  margin-top: -7px;
}
.gnb {
  float: right;
}
.gnb a {
  margin: 10px;
  font-size: 16px;
}
/*#################################3 Section : welcome ################################*/
.welcom {
  height: 90vh;
  position: relative;
}
.slideshow {
}
.welcome-heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  width: 750px;
  text-align: center;
}
.welcome-heading span {
  font-size: 24px;
}
.welcome-heading h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 30px;
  margin-top: 15px;
}
.welcome-heading h1 em {
  display: block;
  font-style: normal;
  color: #eb4d4b;
}
.welcome-heading p {
  padding: 0 100px;
  margin-bottom: 50px;
}
.welcome-btns {
}
.btn {
  display: inline-block;
  width: 160px;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  transition: 0.5s;
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.btn.start {
  background-color: #0abde3;
}
.btn.guide {
  background-color: #fff;
  color: #222;
}

/* mouse wheel */
.mouse {
  position: absolute;
  width: 32px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid #fff;
  bottom: 100px;
  left: 250px;
}
.wheel {
  position: absolute;
  background-color: #fff;
  width: 4px;
  height: 15px;
  border-radius: 5px;
  left: 12px;
  top: 10px;

  animation: wheele 1.5s linear infinite;
}

@keyframes wheele {
  0% {
    top: 10px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 10px;
  }
}

/* ################################ Slick Custom CSS ##################################### */

/* slick slider 이전 다음 화살표 없애기 */
.slick-arrow {
  display: none !important;
}
.slideshow-area * {
  outline: none;
}

/*#################################3 Section : ceo-access ################################*/
/*#################################3 Section : banner ####################################*/
/*#################################3 Section : feature ###################################*/
/*#################################3 Section : vision ####################################*/
/*#################################3 Section : faq #######################################*/
/*#################################3 Section : review ####################################*/
/*#################################3 Section : focus #####################################*/
/*#################################3 Section : guide #####################################*/
/*#################################3 Section : news ######################################*/
